name: Docker Build CI

on:
  push:
    branches:
      - master

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show files (sanity)
        run: ls -la

      - name: Build Docker image
        run: docker build -t my-express-app:ci .
